<TITLE>GMA Real-Time Performance</TITLE>

<A HREF=/><IMG align=right border=0 src=/logo.gif></A>
<H1 ALIGN="CENTER"> GMA Real-Time Performance </H1>

<form method="POST" action="gmaperf2.cgi">
Fund:    <select name=mfund size=2> <option selected>gc5</option>
                                    <option>endow</option> </select> &nbsp
Sort:    <select name=sorto size=3> <option selected>GL</option>
                                    <option>Side</option>
                                    <option>Signal</option> </select> &nbsp
RelTrd?: <input type=checkbox name=relt> &nbsp
PreTrd?: <input type=checkbox name=pret> &nbsp
<input type=submit value="Go!">
</form>

<form method="POST" action="gmaperf3.cgi">
<input type=submit value="G10 Currency Strategy Performance">
</form>

<HR><EM> David E. Brahm
(<A HREF="mailto:David.Brahm@geodecapital.com"> David.Brahm@geodecapital.com </A>)
&nbsp Last update 5/19/10
