<TITLE>GMA Trade</TITLE>

<A HREF=/><IMG align=right border=0 src=/logo.gif></A>
<H1 ALIGN="CENTER"> GMA Trade </H1>

<form method="POST" action="gmatrd2.cgi">
<table cellpadding=3><tr>
  <td><input type=checkbox name=GC5COM>GC5COM </td>
  <td><input type=checkbox name=GC5CUR>GC5CUR </td>
  <td><input type=checkbox name=GC5VOL_Hedge>GC5VOL_Hedge </td>
  <td><input type=checkbox name=GC5VOL_Roll>GC5VOL_Roll </td>
 </tr><tr> <td></td> </tr><tr>
  <td><input type=checkbox name=CMDTY_STR_Hedge>CMDTY_STR_Hedge </td>
  <td></td>
  <td><input type=checkbox name=FI_STR_Hedge>FI_STR_Hedge </td>
  <td><input type=checkbox name=FI_STR_Roll>FI_STR_Roll </td>
 </tr><tr>
  <td><input type=checkbox name=PREROLL_Trade>PREROLL_Trade </td>
  <td></td>
  <td></td>
  <td><input type=checkbox name=CMDTY_STR_Roll>CMDTY_STR_Roll </td>
 </tr>

</table><BR>
Password:   <input type=password name=pwd size=3> &nbsp
ToBlotter?: <input type=checkbox name=blot> &nbsp
<input type=submit value="Go!">
</form>

<HR><EM> David E. Brahm
(<A HREF="mailto:David.Brahm@geodecapital.com"> David.Brahm@geodecapital.com </A>)
&nbsp Last update 5/4/17
